/* VideoPlayer.module.css */

.videoContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.videoColumn {
  margin: 10px;
  text-align: center;
}

.video {
  width: 100%;
  max-width: 300px;
}

.fullScreenVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .videoColumn {
    flex: 1;
  }

  .fullScreenVideo {
    align-items: flex-start;
  }
}
